body {
    font: 20px Arial;
}

.navbar {
    background-color: #298A08;
}

.quem-somos {
    background-color: blue;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58FAF4;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}